/* Navbar */
.dark-navbar {
    background-color: black !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #c7aa85 !important;
}

.navbar-light .navbar-brand {
    color: #c7aa85 !important;
} 

.btn-coffee {
    border: 3px solid #c7aa85;
    background-color: #c7aa85 !important;
    color: #000;
    font-weight: bold;
}

.btn-coffee:hover {
    background-color: #c7aa85 !important;
    color: #431b02 !important;
    border: 3px solid #431b02 !important;
    font-weight: bold;
}

.navbar-brand img {
    width: 4em !important;
}

@media (min-width: 1024px) and (max-width: 2560px) {
    .navbar-nav {
        margin-left: 24em !important;
    }
}
/* End Of Navbar */

/* Carousel */
.container-carousel {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
/* End Of Carousel */